$bg_primary: #ffffff;
$bg_secondary: #7b7b7b;
$divider: rgba(123, 123, 123, 0.2);
$text_primary: #222222;
$text_secondary: #7f7f7f;
$success: #34c759;
//
$section_bg: #1b88de;
$section_bg_alt: #2d2a28;
$nobis_bg: #e6660a;
$cprime_bg: #f1515f;
