@use "../contants/colors" as colors;
@use "../contants/mixins" as mixins;

#about {
  #navbar {
    @include mixins.flexmixin(row, nowrap, center, space-between, 0);
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid colors.$divider;

    .logo {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
      object-position: center;
    }

    .actions {
      @include mixins.flexmixin(row, nowrap, center, flex-end, 0.5rem);

      .booking {
        @include mixins.flexmixin(row, nowrap, center, center, 0.375rem);
        font-size: 0.875rem;
        font-weight: 600;
        color: colors.$text_primary;
        text-decoration: none;
      }
    }
  }

  #about_projects {
    @include mixins.desktop() {
      @include mixins.flexmixin(row, nowrap, flex-start, space-between, 0);
    }

    .about_txt {
      @include mixins.desktop() {
        @include mixins.flexmixin(column, nowrap, flex-start, center, 0);
        width: 44%;
        height: calc(100vh - 4rem);
        margin-top: 0;
      }

      margin-top: 4rem;

      p {
        font-size: 1.875rem;
        font-weight: 600;

        span {
          font-size: 1rem;
        }
      }

      .do {
        margin-top: 1rem;
      }

      ._do {
        font-size: 1.375rem;
        font-weight: 400;
      }

      .upwork_link {
        @include mixins.desktop() {
          width: 15rem;
          margin-top: 3rem;
        }

        @include mixins.flexmixin(row, nowrap, center, center, 0.5rem);
        width: 100%;
        margin-top: 2rem;
        padding: 0.5rem;
        border: 1px solid colors.$divider;
        border-radius: 0.625rem;
        font-weight: 600;
        color: colors.$success;
        text-decoration: none;
      }
    }

    .sampleprojects {
      @include mixins.desktop() {
        @include mixins.flexmixin(column, nowrap, flex-start, center, 0);
        width: calc(100vw - 54%);
        height: calc(100vh - 4rem);
      }

      margin-top: 1rem;

      .title {
        font-size: 0.875rem;
        font-weight: 600;
        color: colors.$text_secondary;
      }

      ._projects {
        @include mixins.flexmixin(
          column,
          nowrap,
          flex-start,
          flex-start,
          0.5rem
        );
        width: 100%;
        margin-top: 0.5rem;

        .proj {
          width: 100%;
          padding: 0.5rem 0;
          border-bottom: 1px solid colors.$divider;

          p {
            @include mixins.flexmixin(
              column,
              nowrap,
              flex-start,
              flex-start,
              0
            );
            font-size: 1.125rem;
            font-weight: 600;

            span {
              font-size: 0.875rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
