@use "../contants/colors" as colors;
@use "../contants/mixins" as mixins;

#controls {
  @include mixins.flexmixin(column, nowrap, center, center, 0.25rem);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.125rem;
  border: 1px solid colors.$divider;
  border-radius: 0.845rem;
  background-color: colors.$bg_primary;

  span {
    width: 50%;
    height: 2px;
    border-radius: 0.5rem;
    background-color: colors.$section_bg_alt;
  }

  a {
    @include mixins.flexmixin(column, nowrap, center, center, 0);
    background-color: colors.$text_primary;
    width: 2rem;
    height: 2rem;
    border-radius: 0.625rem;
  }
}
