@import "./colors";
@import "./flexmixin";

.about {
  padding: 0.5rem 1rem;
  .image {
    width: 10rem;
    margin: 10px 0 10px 0;
    display: none;

    img {
      width: 100%;
      border: 0;
      border-radius: 50%;
    }

    .dots {
      @include flexmixin(row, center);

      span {
        width: 1rem;
        height: 1rem;
        margin: 6px 10px 0 0;
        border: 0;
        border-radius: 50%;
        background-color: $lightText;
      }
    }
  }

  p {
    font-size: 1rem;
    color: $darkText;
    font-weight: 500;
    text-align: justify;
    &::selection {
      background-color: $lightDarkBgColor;
      color: $primary;
    }
  }
}
