$primary: rgba(16, 14, 29, 0.9);
$accent: #333333;
$accent-light: #4f4f4f;
$textColor: #bdbdbd;
$white: #ffffff;
$black: #000000;
$githubblack: #0c0c0c;
$boxShadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
$colorg: rgba(16, 14, 29, 0.01);
$colorg-tablet: rgba(51, 51, 51, 0.65);
$lemon: #f3e31b;
$goblin: #40863e;
$mineshaft: #232323;
$bush: #0c2b23;
$gray: #c6c6c7;
$ebb: #e6dedd;
$tulip: #c5e8f5;
$flamingo: #f45434;
$silver: #bcbcbc;
$milanored: #b30c04;
$sunsetorange: #fc434b;
$blumine: #235b83;
$blueturqoise: #14c2fa;
