@import "./colors";
@import "./flexmixin";

.contact {
  width: fit-content;
  padding: 6px;
  margin: 2rem auto 0.5rem auto;
  border-radius: 0.5rem;
  background-color: $darkBgColor;
  box-shadow: $boxShadow;
  ul {
    @include flexmixin(row, center);
    li {
      list-style: none;
      margin: 0 0.5rem;
      a {
        text-decoration: none;
        color: $darkText
        font-weight: 600;
      }
    }
  }
  #doc {
    font-size: 1.05rem;
    color: rgb(163, 13, 13);
  }
}
