@import "./contants/colors";
@import "./contants/mixins";

#emailctr {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none !important;
  background-color: rgba(14, 1, 1, 0.75);
  backdrop-filter: blur(5px);
  z-index: 2000;

  .notification {
    @include phone-only {
      width: 98%;
      padding: 0.5rem;
    }

    width: 35rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: none !important;
    transform: translateY(-2rem);
    border-radius: 0.375rem;
    background-color: $goblin;

    .notificationtext {
      @include phone-only {
        font-size: 0.875rem;
      }

      margin-right: 1rem;
    }

    .notificationicon {
      @include phone-only {
        display: none !important;
      }
    }
  }

  #emailcontactform {
    @include phone-only {
      width: 100%;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .form-title {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $border_bg;
      padding-top: 0.5rem;
      padding-bottom: 0.75rem;
      padding-left: 0.5rem;

      p {
        font-size: 1.125rem;
        font-weight: 500;
      }
    }

    .inpuctr {
      @include flexmixin(column, no-wrap, flex-start, flex-start, 0);
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      gap: 0.5rem;

      label {
        font-size: 1.125rem;
        color: $textv3primary;
      }

      input {
        @include usebasefont();
        width: 100%;
        padding: 0.75rem;
        border: 1px solid $border_bg;
        border-radius: 0.25rem;
        outline: none;
        outline-color: transparent;
        background-color: rgba($color: $bg_secondary, $alpha: 0.5);
        color: $textv3primary;
        font-size: 1rem;
        font-weight: 500;

        &::placeholder {
          color: rgba($color: $textv3primary, $alpha: 0.375);
        }
      }
    }

    #messagectr {
      @include usebasefont();
      width: 100%;
      height: 7.5rem;
      padding: 0.5rem;
      outline: none;
      outline-color: transparent;
      border-radius: 0.25rem;
      resize: none;
      font-size: 1rem;
      font-weight: 500;
      background-color: rgba($color: $bg_secondary, $alpha: 0.5);
      color: $textv3primary;

      &::placeholder {
        color: rgba($color: $textv3primary, $alpha: 0.375);
      }
    }

    .buttonctr {
      @include phone-only {
        border-radius: 0;
      }

      @include flexmixin(row, no-wrap, center, space-between, 0);
      gap: 1rem;
      width: 100%;
      padding: 0.125rem;
      border: 0;
      border-radius: 0 0 0.5rem 0.5rem;
      border-top: 1px solid $border_bg;
      background-color: rgba($color: $bg_secondary, $alpha: 0.5);

      button {
        @include flexmixin(row, no-wrap, center, center, 0);
        @include usebasefont();
        gap: 1rem;
        padding: 0.75rem;
        border: 0;
        outline: none;
        outline-color: transparent;
        background-color: transparent;
        border-radius: 0.25rem;
        cursor: pointer;

        span {
          font-size: 1.125rem;
          font-weight: 400;
          color: $textv3primary;
        }
      }

      #cancel {
        width: 38%;
        outline-color: transparent;
      }

      .divider {
        width: 1px;
        height: 100%;
        background-color: $border_bg;
      }

      #submit-email {
        width: 61%;
      }
    }

    width: 35rem;
    min-height: 30rem;
    padding-top: 0.5rem;
    border: 1px solid rgba($color: $border_bg, $alpha: 0.12);
    border-radius: 0.375rem;
    background: rgba(255, 255, 255, 0.125);
    box-shadow: $boxShadow;
    color: $text_primary_dark;
    @include flexmixin(column, no-wrap, flex-start, space-between, 0);
  }
}
