@import "./colors";
@import "./mixins";

#contact {
  .contacts {
    @include tablet-portrait-up {
      @include flexmixin(row, wrap, center, center);
      gap: 1rem;
      transform: translate(0, 20%);
    }

    @include tablet-upwards {
      transform: translate(0, 50%);
    }

    @include desktop {
      transform: translate(0, 100%);
    }

    transform: translate(0, 15%);

    a {
      @include tablet-portrait-up {
        width: 19rem;
      }

      display: block;
      text-decoration: none;
      @include flexmixin(row, no-wrap, center, center);
      gap: 0.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 0;
      border-radius: 15rem;
      box-shadow: $boxShadow;
      background-color: transparent;
      transition: all ease-in-out 0.25s;

      &:hover {
        background-color: $accent;
        box-shadow: none;
      }

      span {
        font-size: 1rem;
        color: $textColor;
      }

      img {
        width: 2.65rem;
      }
    }

    .mail {
      img {
        width: 2.25rem;
      }
    }

    .gitlab {
      img {
        width: 2.25rem;
      }
    }

    .github {
      img {
        width: 3.25rem;
      }
    }

    .lnkdn {
      img {
        width: 2.15rem;
      }
    }

    .resume {
      img {
        width: 2.25rem;
      }
    }
  }
}
