@import "./colors";

#doodle {
  @include tablet-upwards {
    display: block;
  }

  display: none;
  position: fixed;
  top: 0;
  right: 4%;
  width: 20rem;
  height: 20rem;
  border-radius: 0 0 10rem 10rem;
  box-shadow: $boxShadow;
  z-index: -1;
  opacity: 0.25;
  background-color: $silver;
}

#doodle-01 {
  @include tablet-upwards {
    display: block;
  }

  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 0 10rem 50% 0;
  margin-bottom: -10rem;
  box-shadow: $boxShadow;
  z-index: -1;
  opacity: 0.25;
  background-color: $silver;
}
