@media (max-width: 576px) {
  .top {
    h2 {
      font-size: 14px;
    }
  }
}

@media only screen and(min-width:800px) {
  .about {
    p {
      text-align: left;
    }
  }

  #projects {
    .project {
      div {
        text-align: left;
        display: grid;
        grid-template-columns: 40% auto;
        img {
          float: right;
          max-width: 500px;
        }
        p {
          margin: 0 1.2rem 0 0;
        }
      }
    }

    hr {
      display: none;
    }
  }
}

@media only screen and(min-width:1050px) {
  #projects {
    .project {
      div {
        place-items: center;
      }
    }
  }

  #tools {
    border: 0;

    #buttons {
      display: none;
    }

    #tools_lang {
      & :nth-child(1) {
        margin-left: 1rem;
      }

      & :last-child {
        margin-right: 0;
      }
    }
  }
}

@keyframes animateImageBefore {
  0% {
    transform: scale(0.45);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateBefore {
  0% {
    transform: translate(0, -100%) rotate(20deg);
  }
  50% {
    transform: translate(0, -100%) rotate(360deg);
  }
  100% {
    transform: translate(0, -100%) rotate(20deg);
  }
}
