@import "./colors";
@import "./mixins";

#projects {
  .projects {
    @include flexmixin(column, no-wrap, none, none);

    & > div {
      margin-bottom: 2rem;

      .link {
        width: fit-content;
        display: block;
        text-decoration: none;
        color: $textColor;
        @include flexmixin(row, no-wrap, center, none);
        gap: 0.5rem;
        cursor: pointer;
      }
      .app {
        margin-bottom: 1rem;
      }
      .source {
        margin-top: 1rem;
      }

      .description {
        @include desktop {
          @include flexmixin(row, no-wrap, center, center);
        }

        .text {
          .info {
            @include tablet-upwards {
              width: fit-content;
            }

            @include flexmixin(row, no-wrap, center, none);
            gap: 0.25rem;

            margin-top: 0.25rem;
            padding: 0.25rem;
            border-radius: 0.25rem;
            background-color: $accent-light;
            object-fit: contain;
          }
        }

        .project-img {
          @include tablet-upwards {
            border-radius: 1rem;
          }

          @include desktop {
            max-width: 30rem;
            margin-left: 20px;
          }

          @include big-desktop {
            max-width: 40rem;
          }

          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
          border-radius: 0.5rem;
          object-fit: fill;
        }
      }

      .tech {
        @include flexmixin(row, wrap, center, none);
        gap: 0.5rem;

        span {
          padding: 0.5rem;
          margin-right: 0.5rem;
          border-radius: 0.5rem;
          background-color: $accent;
        }
      }
    }

    #video_player {
      .description {
        @include tablet-upwards {
          justify-content: space-between !important;
        }
      }
    }
  }
}
