@import "./contants/colors";
@import "./contants/mixins";

#tools {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @include tablet-upwards {
    grid-template-columns: repeat(2, 1fr);
  }

  & > div {
    @include flexmixin(row, no-wrap, center, center, 0);
    padding: 0.5rem;
    min-height: 5rem;
    border-radius: 0.25rem;
    background-color: $danger;
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;

    .tooling {
      font-weight: 400;
      text-transform: capitalize;
      text-align: center;
    }
  }
}
