@import "./colors";
@import "./mixins";

#tools {
  .tools {
    @include flexmixin(row, wrap, center, center);
    gap: 1rem;

    @include tablet-upwards {
      transform: translateY(30%);
    }

    @include desktop {
      transform: translateY(10%);
      height: unset;
      gap: 2rem;
    }

    @include big-desktop {
      transform: translateY(50%);
    }

    .js {
      background-color: $lemon;
    }

    .ts {
      background-color: $lochmara;
    }

    .py {
      background-color: $primary;
    }

    .node {
      background-color: $goblin;
    }

    .sass {
      background-color: $goblin;
    }

    .css {
      background-color: $goblin;
    }

    .react {
      background-color: $mineshaft;
    }

    .rn {
      background-color: $white;
    }

    .expo {
      background-color: $silver;
    }

    .dj {
      background-color: $bush;
    }

    .drf {
      background-color: $white;
    }

    .github {
      background-color: $githubblack;
    }

    .git,
    .gitlab,
    .code,
    .sass,
    .css {
      background-color: $white;
    }

    & > div {
      @include flexmixin(column, no-wrap, center, center);
      gap: 1rem;
      width: 8rem;
      height: 8rem;
      padding: 0.5rem;
      border-radius: 0.8rem;

      .img {
        max-width: 4rem;
      }

      img {
        width: 100%;
        object-fit: contain;
        object-position: center;
        align-self: center;
      }
    }
  }
}
