@import url("https://fonts.googleapis.com/css2?family=Satisfy");
@import "./colors";
@import "./mixins";

#about {
  @include flexmixin(column, no-wrap, none, center);

  .name {
    @include tablet-upwards {
      font-size: 4rem;
    }
    @include useanimation(
      animate-name,
      100ms,
      450ms,
      ease-in,
      forwards,
      normal
    );

    font-size: 2.5rem;
    font-family: "Satisfy", cursive;
    margin-bottom: 3rem;
    background-image: linear-gradient(
      to bottom,
      rgba(35, 91, 131, 0.85),
      rgba(244, 84, 52, 0.45)
    );
    background-clip: text;
    color: transparent;
    opacity: 0;

    @keyframes animate-name {
      from {
        opacity: 0;
        margin-bottom: 2.5rem;
      }
      to {
        opacity: 1;
        margin-bottom: 3rem;
      }
    }
  }

  .title {
    @include useanimation(animateion, 460ms, 450ms, ease-in, forwards, normal);
    opacity: 0;
  }

  p {
    text-align: justify;
    font-size: 1rem;
  }

  .pr-0 {
    margin-bottom: 1rem;
  }

  .pr-0,
  .pr-01 {
    @include useanimation(animateion, 460ms, 450ms, ease-in, forwards, normal);
    opacity: 0;
  }

  @keyframes animateion {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
