@import "./colors";

.top {
  width: 100%;
  height: 3rem;
  padding: 2px 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 0;
  background-color: $primary;
  box-shadow: $boxShadow;

  h2 {
    color: $darkBgColor;
  }

  nav {
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      li {
        list-style: none;
        margin: 0 0 0 2rem;
        a {
          display: inline-block;
          text-decoration: none;
          color: $darkText;
          font-size: 1rem;
          font-weight: bolder;
        }
      }
    }
  }
}
