@import "./contants/colors";
@import "./contants/mixins";

#works {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.625rem;

  @include tablet-upwards {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  #campoprime {
    background-image: url(../img/campoprime.png);
  }

  #nobis {
    background-image: url(../img/nobis.png);
  }

  #audioplayer {
    background-image: url(../img/audioplayer.png);
  }

  #autoplay {
    background-image: url(../img/autoplay.png);
  }

  #frosted {
    background-image: url(../img/medic.png);
  }

  #bikke {
    background-image: url(../img/bike.png);
  }

  #portfolio {
    background-image: url(../img/portfolio.png);
  }

  #nichlabs {
    background-image: url(../img/nichlabs.png);
  }

  .project {
    height: 8.125rem;
    border-radius: 0.375rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &:hover {
      .content {
        animation: animatebg;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
      }
    }

    .content {
      @include flexmixin(row, no-wrap, center, space-between, 0);
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      background-color: rgba($color: $primary, $alpha: 0.75);

      p {
        font-size: 1.375rem;
        font-weight: 400;
      }

      .links {
        @include flexmixin(row, wrap, center, flex-end, 1.5rem);

        a {
          @include flexmixin(row, no-wrap, center, center, 0);
          width: 2.875rem;
          height: 3rem;
          border: 0.125rem solid $danger;
          border-radius: 0.625rem;
          padding: 0.5rem;
          background-color: $primary;
          box-shadow: 4px 4px $danger;
          transition: all ease-in-out 0.25s;

          &:hover {
            transform: translate(4px);
            box-shadow: unset;
          }
        }
      }
    }
  }

  .more {
    @include flexmixin(row, no-wrap, center, center, 0);
    height: 8.125rem;
    border: 2px solid $danger;
    border-radius: 0.5rem;

    p {
      font-size: 1.375rem;
      font-weight: 400;
      color: $danger;
    }
  }
}

@keyframes animatebg {
  from {
    background-color: rgba($color: $primary, $alpha: 0.75);
  }
  to {
    background-color: rgba($color: $primary, $alpha: 0.5);
  }
}
