@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.intro-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0.25rem;
  border: 0;
  border-bottom: 0.5px dashed rgba(248, 250, 252, 0.2);
  background-color: #1f1f1f;
  z-index: 2000;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
}
.intro-contact .name {
  margin-left: 0.5rem;
  font-size: 2.5rem;
  font-family: "Sacramento", cursive;
}
.intro-contact .contact {
  margin-right: 0.5rem;
  gap: 1rem;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}
.intro-contact .contact .contactitem {
  width: 2rem;
  height: 2rem;
  border: 0.25px solid rgba(248, 250, 252, 0.2);
  border-radius: 0.375rem;
  background-color: #323232;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}

#info {
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}
#info #left {
  position: fixed;
  left: 0;
  width: 38rem;
  height: 100vh;
  border: 0;
  border-right: 0.5px dashed rgba(248, 250, 252, 0.2);
  gap: 2rem;
  display: flex !important;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}
#info #left #about {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#info #left #about h2 {
  margin-bottom: 2rem;
  color: rgba(248, 250, 252, 0.78);
}
#info #left #about p {
  text-align: justify;
  color: #7f7f7f;
}
#info #left #about .pr-01 {
  margin-top: 1rem;
}
#info #left #services {
  width: 96%;
  padding: 0.5rem;
  background-color: rgb(38, 38, 38);
  border-radius: 0.5rem;
}
#info #left #services .srv {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 0.5px dashed rgba(248, 250, 252, 0.2);
  border-bottom: 0.5px dashed rgba(248, 250, 252, 0.2);
}
#info #left #services div {
  gap: 0.5rem;
  display: flex !important;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
#info #left #services div p {
  font-weight: 500;
  color: rgba(248, 250, 252, 0.78);
}
#info #left #services div p span {
  font-size: 14px;
  color: #7f7f7f;
}
#info #left #services div span {
  color: #7f7f7f;
}
#info #left .copyright {
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #7f7f7f;
}
#info #left .copyright a {
  font-family: "Sacramento", cursive;
  font-size: 1.75rem;
  text-decoration: none;
  color: #7f7f7f;
}
#info #left .copyright .yeartext {
  font-family: "Raleway", sans-serif;
}
#info #right {
  position: fixed;
  right: 0;
  width: calc(100vw - 38rem);
  height: 100vh;
}
#info #right #projects {
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 4.75rem;
}
#info #right #projects .indicator {
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
}
#info #right #projects .indicator .btns {
  gap: 1rem;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: flex-end;
}
#info #right #projects .indicator .btns button {
  padding: 0.5rem;
  border: 0;
  border-radius: 50%;
  background-color: rgba(38, 38, 38, 0.75);
  outline: none;
  outline-color: none;
  cursor: pointer;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s;
}
#info #right #projects .indicator .btns button span {
  color: rgba(248, 250, 252, 0.78);
}
#info #right #projects .indicator .btns button:hover {
  background-color: #323232;
}
#info #right #projects .indicator .btns .cat_design,
#info #right #projects .indicator .btns .cat_develop {
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: 2rem;
  outline: none;
  outline-color: none;
}
#info #right #projects .indicator .btns .cat_design .cat_title,
#info #right #projects .indicator .btns .cat_develop .cat_title {
  font-size: 0.875rem;
  text-transform: capitalize;
  color: rgba(248, 250, 252, 0.78);
}
#info #right #projects .indicator .btns .vertical_divider {
  width: 1px;
  height: 1.5rem;
  background-color: rgba(248, 250, 252, 0.2);
}
#info #right #projects .projects-title {
  color: rgba(248, 250, 252, 0.78);
}
#info #right #projects .projects {
  margin-top: 1rem;
  gap: 1rem;
  overflow-x: scroll;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}
#info #right #projects .projects #veestream,
#info #right #projects .projects #autoplaydesign,
#info #right #projects .projects #oasisstaysdesign,
#info #right #projects .projects #autoplay,
#info #right #projects .projects #oasisstays,
#info #right #projects .projects #potterapp,
#info #right #projects .projects #weathor {
  display: none !important;
}
#info #right #projects .projects div {
  width: 96%;
  margin-top: 0.5rem;
}
#info #right #projects .projects div .title-links {
  margin-bottom: 1.5rem;
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
}
#info #right #projects .projects div .title-links .title {
  font-size: 1.125rem;
  font-weight: 600;
  color: rgba(248, 250, 252, 0.78);
  min-width: -moz-fit-content;
  min-width: fit-content;
}
#info #right #projects .projects div .title-links .links {
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
#info #right #projects .projects div .title-links .links a {
  display: flex !important;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #7f7f7f;
  text-decoration: none;
}
#info #right #projects .projects div .title-links .links a:hover {
  color: #f8fafc;
}
#info #right #projects .projects div .description p {
  margin-bottom: 1rem;
  color: #7f7f7f;
}
#info #right #projects .projects div .description .project-img {
  width: 100%;
  border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f1f;
  color: #f8fafc;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=main.css.map */