@use "./constants/colors" as colors;
@use "./constants/mixins" as mixins;
@use "../styles/components/about";
@use "../styles/components/project";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  @include mixins.usebasefont();
  color: colors.$text_primary;
  font-weight: 300;
  background-color: colors.$bg_primary;
}

a {
  outline: none;
  outline-color: transparent;
}

::-webkit-scrollbar {
  display: none !important;
}

section {
  @include mixins.desktop() {
    padding: 0.5rem 2rem;
    overflow-y: hidden;
  }

  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem 1rem;
  color: colors.$bg_primary;
  background-color: colors.$bg_primary;
  scroll-snap-align: start;
  transition: transform 0.3s ease-out;
  overflow-y: auto;
}

#about {
  display: block;
  color: colors.$text_primary;
  z-index: 1;
}
