@import "./colors";
@import "./mixins";
@import "./top";
@import "./info";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $bg_primary;
  color: $text_primary;
  font-weight: 100;
  @include usebasefont();
}

::-webkit-scrollbar {
  display: none;
}
