@import "./contants/colors";
@import "./contants/mixins";
@import "./about";
@import "./works";
@import "./tools";
@import "./footer";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @include tablet-upwards {
    padding: 2rem;
  }

  @include desktop {
    padding: 2.5rem 5rem;
    padding-bottom: 0.5rem;
  }

  padding: 1rem;
  background-color: $primary;
  color: $secondary;
  font-weight: 300;
  @include usebasefont();
}

::-webkit-scrollbar {
  display: none;
}
